<script>
import TableColumnComponent from "@/components/TableColumnComponent";

export default {
  name: "TableComponent",
  components: {TableColumnComponent},
  props:{
    data:{
      type: Array,
      required: true
    }
  },
  methods:{
    createColumns(createElement, row, slots, isHeader, tag){
      const result = [];
      slots.map(slot => result.push(createElement(tag, {
        class: {
          column: true,
          column__body__cell: tag == 'td',
          column__head__cell: tag == 'th'
        }}, [
            createElement(slot.componentOptions.tag,{
              scopedSlots: this.getScopedSlot(slot),
              props: {
                field: slot.componentOptions.propsData.field,
                label: slot.componentOptions.propsData.label,
                row: row,
                isHeader: isHeader
              }
            })
          ]
      )));
      return result;
    },
    getScopedSlot(slot){
      if(slot.data?.scopedSlots?.default && slot.data.scopedSlots?.label){
        return {
          default: slot.data?.scopedSlots?.default,
          label: slot.data.scopedSlots?.label
        };
      }else if(slot.data.scopedSlots?.label){
        return {label: slot.data.scopedSlots?.label};
      }else if(slot.data?.scopedSlots?.default){
        return {default: slot.data?.scopedSlots?.default}
      }
    }
  },
  render(createElement) {
    const slots = this.$slots.default.filter(slot => slot.componentOptions.tag === 'table-column-component');

    const columnsHead = this.createColumns(createElement, null, slots, true, 'th');
    const columnsBody = this.data.map(row =>
        createElement('tr', [
          this.createColumns(createElement, row, slots, false, 'td')
        ]));

    return createElement('table', {class: {table: true}}, [
      createElement('thead', {class: {column: true, column__head: true, }}, [
        createElement('tr', columnsHead)
      ]),
      createElement('tbody', [columnsBody])
    ]);
  }
}
</script>

<style lang="stylus">
  .table
    width 800px
    padding 10px
    border-radius 2px
    background linear-gradient(#ec8e8e, #b0b4de)
    border-spacing 0px 0px

  .column
    width 25%
    text-align center
    font-family Helvetica
    text-transform uppercase
    font-size 13px
    color #ffffffe0
    &__head__cell
      height 50px
      background-color #ffffff5c
      font-weight lighter

    &__body__cell
      height 115px
      border-bottom 1px solid #ffffff5c
      img
        width 92px
        border-radius 50%
</style>