<template lang="pug">
  #app
    table-component(:data="people")
      table-column-component(field="name")
        template(#label)
          .star-text(:style="{color: '#ec8e8e'}") Имя
      table-column-component(field="photo" label="Фотография")
        template(#default="{row:{photo}}")
          img(:src="photo")
      table-column-component(field="dob" label="День рождения")
      table-column-component(field="job" label="Должность")
        template(#default="{row:{job}}")
          u {{job}}
</template>

<script>
import people from "@/mocks/people";
import TableComponent from "@/components/TableComponent";
import TableColumnComponent from "@/components/TableColumnComponent";

export default {
  name: 'App',
  components: {
    TableComponent,
    TableColumnComponent
  },
  data(){
    return{
      people
    }
  }
}
</script>

<style lang="stylus">
  .star-text
    color black
    &::before
      content 'gh'
      color transparent
      position relative
      left -4px
      background center/contain no-repeat url(https://pngimage.net/wp-content/uploads/2018/05/estrellas-emoji-png-3.png)
      background-size 16px 16px

</style>
